
body {
  background-color: #d3fbfb;
  font-family: "Courier", sans-serif;
  /*font-weight: bold;*/
}

img{
    max-width:600px;
}

.sidenav {
  text-align: center;
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightskyblue;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  font-size: 14px;
  color: #645959;
  display: block;
}

.sidenav a:hover:not(.dummy) {
  font-weight: bold;
  cursor: pointer;
  /* margin:auto; */
  display: block;
  color: black;
  font-size: 14px;
}

.main {
  padding: 20px 20px 20px 40px;
  margin-left: 450px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 18px;}
}

.sidenavimg {
  display:block;
  cursor: pointer;
  margin:auto;
  border-radius: 50%;
}

blockquote {
  /* text-decoration: underline; */
}

.close {
  color: white;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.closed:before {
  transform: rotate(90deg) !important;
}
.closed:after {
  transform: rotate(-180deg) !important;
}